extends layout

block content
    h1= title

    form(method='POST' action='')
        div
            p
                label(for='username') Username: 
                input(name='username' placeholder="Type Your Username" type='text' required='true' value=(undefined===username ? '' : username) )
        div
            p
                label(for='password') Password: 
                input(name='password' placeholder='Type Your Password' type='password' required='true')

        if signup
            div
                p
                    label(for='confirm-password') Confirm Password: 
                    input(name='confirm-password' placeholder='Retype Your Password' type='password' required='true')

        div
            button(type='submit') Submit

    if errors
        ul
            for error in errors
                li!= error.msg

    if message
        p #[strong !{message}]
