extends layout

block content
    div.page-info
        div.page-title
            h1= title

        form.normal-form(method='POST' action='')
            div.form-controller
                p
                    label(for='username') #[strong Username:] 
                    input(name='username' placeholder="Type Your Username" type='text' required='true' value=(undefined===username ? '' : username) )
            div.form-controller
                p
                    label(for='password') #[strong Password:] 
                    input(name='password' placeholder='Type Your Password' type='password' required='true')

            if signup
                div.form-controller
                    p
                        label(for='confirm-password') #[strong Confirm Password:] 
                        input(name='confirm-password' placeholder='Retype Your Password' type='password' required='true')

            div.form-controller
                button(type='submit') Submit

        if errors
            div.form-errors
                ul
                    for error in errors
                        li!= error.msg

        if message
            div.form-errors
                p #[strong !{message}]

        div.link
            p
                a(href=('/')) #[strong Return to Homepage]
