doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Members Only
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            div.title
                h1 Members Only!
            nav
                ul.nav-control.li-link
                    if user
                        li
                            p #[strong !{user.username}]
                        li
                            p
                                a(href='/auth/logout') #[strong Logout]
                    else
                        li
                            p
                                a(href='/auth/sign-up') #[strong Sign Up]
                        li
                            p
                                a(href='/auth/login') #[strong Login]
    main.page-container
        block content
    block foot
        footer#footer
            p Copyright © 2023
            a(href='https://github.com/itsMe-ThatOneGuy' target='_blank') 
                img.github-icon(src='images/github-mark.png')
            p itsMe-ThatOneGuy
