extends layout

block content
    div.page-info
        div.page-title
            h1 Membership Application

        form.normal-form(method='POST' action='')
            div.form-controller
                p
                    label(for='passphrase') Passphrase: 
                    input(name='passphrase' placeholder='Provide the Passphrase' required='true')
            div.form-controller
                button(type='submit') Submit

        div.form-errors
            if errors
                ul
                    for error in errors
                        li!= error.msg

        div.link
            p
                a(href=('/')) Return to Homepage
