extends layout

block content
    h1 #{user.username}

    h3 Post a new message

    form(method='POST' action='')
        div
            p
                label(for='title') Title: 
                input(name='title' placeholder='Message Title' type='text' required='true' value=(undefined===message ? '' : message.title))
        div
            p
                label(for='message') Message: 
                textarea( name='message' placeholder='Message Content' required='true') #{undefined===message ? '' : message.message}
        div
            button(type='submit') Submit
    div
        if errors
            ul
                for error in errors
                    li!= error.msg

    div
        p
            a(href=('/')) Return to Homepage
